{% extends 'ssk_app/base.html' %}
{% block title %}
     生徒一覧
{% endblock %}
{% block content %}


    <h1>
        {{ student.school_name }}
    </h1>

    <p>
        <a href="{% url 'student_update' student.pk %}">[編集する]</a>
        <a href="{% url 'student_delete' student.pk %}" style="color: red;">[削除する]</a>
    </p>

    <p><strong>担任教師名:</strong>{{student.teacher_name}}</p>
    <p><strong>メール:</strong>{{student.email}}</p>
    <p><strong>生徒名:</strong>{{student.student_name | default:"未割り当て"}}</p>
    <p><strong>タグ:</strong>
        {% for tag in student.tags.all %}
        <span style="background-color: #eee; padding: 2px;">{{tag.name}}</span>
        {% empty %}
        -
        {% endfor %}
    </p>
    <p><strong>作成日時:</strong>{{student.created_at}}</p>
    
    <hr>
    
    <h3>参加記録</h3>
    <ul>
        {% for activity in student.activity_set.all %}
        <li>
        {{ activity.activity_date }} [{{ activity.get_status_display}}]
        <br>
        {{ activity.note | linebreaksbr}}
        </li>
        {% empty %}
        <li>参加記録はありません</li>
        {% endfor %}
    </ul>

    <hr>
    <a href="{% url 'student_list' %}">一覧に戻る</a>
{% endblock %}